body {

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.t-right { text-align: right; }

table { cursor:default; color:#444; border-top:1px solid #eee; margin:8px 0; border-bottom:8px solid #eee; }
tbody { border-top:1px solid #eee; }
tr:nth-child(2n+0) { background-color:#f0f0f0; }
tr.isnew { background-color:#eaf9d2; }
th, tr:hover { background-color:#e0e0e0; }
th { min-width:65px; }
td { padding:5px; height:1em; overflow: hidden; text-overflow: ellipsis; word-break: keep-all; white-space: nowrap; }

.table { width:100%; }

.reactable-page-button { 
    display:inline-block; 
    width:22px;
    height:22px;
    line-height: 22px;
    text-align:center;
    border-radius:50%;
    margin:0 5px;
    text-decoration: none;
    }
.reactable-page-button.reactable-current-page {
    background-color:#e0e0e0;
}
.reactable-pagination tr:hover { background-color:inherit; }

.reactable-header-sortable { cursor:pointer;
 background: #e0e0e0 url(../../public/images/arrow-down.png) no-repeat 95% center;
    background-size:9px auto; }

.reactable-header-sortable.reactable-header-sort-desc {
background-image: url(../../public/images/arrow-up.png);
}

.input-text { padding:5px; border:1px solid gray; }