body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table { cursor:default; color:#444; border-top:1px solid #eee; border-bottom:8px solid #eee; }
tbody { border-top:1px solid #eee; }
tr:nth-child(2n+0) { background-color:#f0f0f0; }
tr.isnew { background-color:#eaf9d2; }
th, tr:hover { background-color:#e0e0e0; }
td { padding:5px; min-width:45px; max-width:200px; height:1em; overflow: hidden; text-overflow: ellipsis; word-break: keep-all; }





