<!DOCTYPE html>
<html>
<head>
    <title>React组件测试</title>
</head>
<body>
    
    <%- include('head') -%>
    <div id="app"></div>
    
    <!-- <script src="/static/javascripts/jquery.min.js"></script> -->
    <script src="/public/javascripts/bundle_test.js"></script>
</body>
</html>